/*Global*/


@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106288,106285,106286,106287,106289,106284');

:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-light-pink: #ffc5c5;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #707070;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-beige: #FFF9E9;
    --color-light-beige: #ffefe1;
    --color-dark-beige: #F8E2CF;
    --color-brown: #cd9240;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-light-green: #F4F8DD;

    /*Font Size*/
    --font-large: 40px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /*Font weight*/
    --weight-bold: 600;
    --weight-semi-bold: 500;
    --weight-regular: 400;


    /*Size*/
    --size-border-radius: 20px;

    /*Animation*/
    --animation-duration: 300ms;

    /*Opacity*/

}

/*Universal tags*/
* {
    box-lines: border-box;
}

body {
    margin: 0;
    background-color: var(--color-beige);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Clash Display', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/clash-display?styles=106286');

}

a {
    text-decoration: none;
    color: var(--color-grey);
}

ul {
    list-style: none;
    padding-left: 0;

}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    font-family: 'Clash Display', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

/* Typography */
h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-grey);
    line-height: 150%;
    margin: 0px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-grey);
    margin: 8px 0;

}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-grey);
    margin: 4px 0;
}

.section {
    padding: 16px;
    padding-top: 40px;
    text-align: center;
}


.section__container {
    max-width: 1200px;
    margin: auto;
}

/* Logo size */

.logo {
    margin-top: 15px;
    margin-left: 37px;
    width: 160px;
    height: 35px;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
    padding: 10px 0 10px 30px;
    background: url('imgs/favicon.png') left/cover no-repeat;
    background-size: 28%;


}

/* Navbar */
#navbar {
    margin: auto;

    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--color-beige);
    z-index: 1;

}

#navbar.navbar--dark {
    background-color: var(--color-beige);
    padding: 8px;
}

.navbar__menu {
    display: flex;
    margin: 13px 0 0 0;
    font-size: 20px;


}

.navbar__menu__item {
    padding: 0 0 0 20px;
    margin-right: 30px;
    color: var(--color-dark-grey);
    background-color: var(--color-beige);
}




.navbar__menu__item:hover {
    text-decoration: underline wavy var(--color-light-pink) 3px;

}


.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font: 24px;
    color: var(--color-black);
    display: none;
}


.thick__underline {
    box-shadow: inset 0 -15px 0 var(--color-light-pink);
    line-height: 15px;
}

.mthick__underline {
    box-shadow: inset 0 -10px 0 var(--color-light-pink);
    line-height: 15px;
}


.shape::before {
    position: absolute;
    position: fixed;
    right: -50px;
    width: 500px;
    background: url('imgs/favicon.png') left/cover no-repeat;
}


.shape {
    position: absolute;
    right: -50px;
    width: 500px;
    background: url('imgs/favicon.png') left/cover no-repeat;
}



/* Home */

#home {
    background-color: var(--color-beige);
}

.home__container {
    margin: auto;
    max-width: 1280px;
    padding: 50px 50px 50px 80px;
    height: 500px;
    /*
    background: url('imgs/shapes.svg') right/cover no-repeat fixed;
    background-size: 40%;
    background-position: right 30% bottom 65%;
    */
}

.home__left {
    width: 50%;
    margin-top: 80px;

}

.home__right {
    position: absolute;
    width: 70%;
    right: 10%;
    top: 100px;
    opacity: .9;

}

.home__left h1 {
    
    
}

.h__btn {
    border: 2px solid var(--color-light-pink);
    border-radius: var(--size-border-radius);
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    color: var(--color-dark-grey);
    background-color: var(--color-light-pink);
}




/* Projects */


#projects {
    background-color: var(--color-dark-beige);
    padding: 50px;
}

.project__categories {
    display: flex;
    justify-content: center;
}

.category__btn {
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    width: 150px;
    padding: 10px;
    margin-left: 20px;
    color: var(--color-dark-grey);

}


.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}


.project {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 25px;
    color: var(--color-dark-grey);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    border-radius: 20px;
}

.project.invisible {
    display: none;
}


.project__description {
    position: absolute;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: var(--size-border-radius);
    text-align: center;
    height: 232px;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;

}

.project:hover .project__description {
    opacity: 0.9;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-pink);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: var(--color-white);
}





/* About */


#about {
    color: var(--color-grey);
    background-color: var(--color-beige);
    padding: 50px;
}


.about__contents {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.about__left {}

.about__right {
    padding: 0 20px;
}

.about__img {
    margin-right: 20px;
    width: 250px;
    height: 270px;
}

.about__info {
    padding: 20px 0;
    max-width: 500px;
}

.about__skills {
    padding: 20px 0px;
    max-width: 500px;
}

/* Contact */

#contact {
    background-color: var(--color-light-green);
    padding: 50px;
}


/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px Screen width */
@media screen and (max-width: 768px) {

    :root {
        /*Font Size*/
        --font-large: 30px;
        --font-medium: 25px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }


    .navbar__toggle-btn {
        display: block;
        top: 30px;
        right: 30px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar.nav--dark {
        padding: 16px;
        color: var(--color-beige);
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu__item {
        padding: 10px 0;
    }

    .navbar__menu.open {
        display: block;
    }

    .home__left {
        width: 90%;
        margin-top: 90px;

    }

    .home__container {
        padding: 50px;
        height: 450px;


    }

    .home__right {
        position: absolute;
        width: 80%;
        right:-5%;
        top: 100px;
        opacity: .9;

    }

    /* Project */
    .project {
        margin: 10px 10px 0px 10px;
    }


    /* About */

    .about__right {
        padding: 0;
    }

    .about__left {
        text-align: center;
    }

    .about__img {
        width: 250px;
        height: 270px;
    }

    .about__contents {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }




    /*Contact*/
   

    .contact__title,
    .contact__email,
    .contact__rights {
        color: var(--color-light-grey);
    }

    .contact__title {
        margin: 32px 0;

    }

    .contact__links {
        font-size: var(--font-large);
        margin: 24px 0;
        transition: all var(--animation-duration) ease-in;
    }

    .contact__links i:hover {
        transform: scale(1.1);
        color: var(--color-pink);
        transition: all var(--animation-duration) ease-in;
    }

}

    /* For below 400px Screen width */
    @media screen and (max-width: 400px) {
        :root {
            /*Font Size*/
            --font-large: 30px;
            --font-medium: 22px;
            --font-regular: 16px;
            --font-small: 14px;
            --font-micro: 12px;
        }

        .home__container {
            padding: 30px;
            height: 450px;


        }

        .home__left {
            width: 90%;
            margin-top: 90px;

        }


        .home__right {
            position: absolute;
            width: 93%;
            right:-20%;
            top: 110px;
            opacity: .8;
        }


        .logo {
            margin: 15px;
        }

        #projects {
            padding: 20px 30px;
        }

        .project {
            position: relative;
            width: 350px;
            height: 250px;
            margin: 20px 10px 0 10px;
            color: var(--color-dark-grey);
        }

        .project__img {
            max-width: 100%;
            max-height: 100%;
            align-self: center;
            border-radius: 20px;
        }

        .project__description {
            height: 213px;

        }

        #about {
            padding: 30px;
        }


    }